footer {
  background: #fff;
  padding: 30px 0 10px;
  font-size: 14px;
  color: #888;
  .container {
    .row {
      .logo-holder {
        position: relative;
        width: 100%;
        figure {
          margin: 0 0 20px;
          //text-align: center;
          img {
            margin-bottom: 15px;
            filter: brightness(0) invert(1);
            max-width: 300px;
          }
        }
      }
      .phone-number {
        align-self: flex-end !important;
        //padding: 0 15px;
        a {
          display: inline-block;
          background: #3c9740;
          padding: 10px 20px;
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-bottom-width: 2px;
          border-radius: 3px;
          transition: 0.25s;
          position: relative;
          img {
            display: inline-block;
            margin: 0;
            width: 15px;
            vertical-align: middle;
          }
        }
      }
      hr {
        border: solid #464648;
        border-width: 1px 0 0;
        margin: 20px 0;
      }
      small {
        display: block;
        font-size: 12px;
        margin: 10px auto 0;
        font-weight: 400;
        a {
          color: #ccc;
        }
      }
      .menu {
        margin: 10px auto;
        padding: 0px;
        list-style: none;
        li {
          display: inline-block;
          a {
            color: #ccc;
          }
        }
      }
    }
  }
}

.privacypolicy {
  color: #888;
  font-size: 14px;
}

.footer-links {
  display: flex;
  .font-13 {
    font-size: 0.8125rem;
    line-height: 1.0625rem;
  }
  a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 0.8125rem;
  }
}
.horizontal {
  height: 1px;
  border-width: 0;
  color: rgb(182, 180, 180);
  background-color: rgb(233, 229, 229);
}

.footer {
  .container {
    .row {
      .logoholder {
        width: 100%;
        .logo {
          align-items: center;
          display: flex;
          color: #274066;
          font-weight: 500;
          img {
            display: block;
            height: 2.5rem;
          }
          .sitename {
            margin: 0 0.5rem;
            h1 {
              font-size: 1.2rem;
              font-weight: 500;
              margin: 0;
              @media (min-width: 768px) {
                font-size: 1.5rem;
              }
            }
            h2 {
              text-transform: uppercase;
              font-size: x-small;
              margin-top: -8px;
            }
          }
        }
      }
      .discalimer {
        width: 100%;
      }
      .footer-links {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 768px) {
          flex-wrap: nowrap;
          justify-content: space-between;
          margin-top: 1rem;
        }
        .copyright {
          flex: 0 0 auto;
          width: 100%;
          @media (min-width:768px) {
              width: 50%;
          }
        }
        .policylink {
          @media (min-width:768px) {
            width: 50%;
            display: flex;
            justify-content: flex-end;
          }
          flex: 0 0 auto;
          width: 100%;
          ul {
            list-style: none;
            margin:0;
            padding:0;
            li {
              display: inline-block;
              &:first-child {
                &::after{
                  content: ' ';
                  border-right: 1px solid #4d4d4d;
                  margin: 0 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
